{% extends 'base.html.twig' %}

{% block title %}Eleve{% endblock %}

{% block body %}
    <h1>Eleve</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ eleve.id }}</td>
            </tr>
            <tr>
                <th>Cin</th>
                <td>{{ eleve.cin }}</td>
            </tr>
            <tr>
                <th>Matricule</th>
                <td>{{ eleve.matricule }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ eleve.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ eleve.prenom }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ eleve.sexe }}</td>
            </tr>
            <tr>
                <th>DateNaissance</th>
                <td>{{ eleve.dateNaissance ? eleve.dateNaissance|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>LieuNaissance</th>
                <td>{{ eleve.lieuNaissance }}</td>
            </tr>
            <tr>
                <th>Tele</th>
                <td>{{ eleve.tele }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ eleve.email }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('eleve_index') }}">back to list</a>

    <a href="{{ path('eleve_edit', {'id': eleve.id}) }}">edit</a>

    {{ include('eleve/_delete_form.html.twig') }}
{% endblock %}
