<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}
                School Manager!
            {% endblock %}
        </title>
        {% block stylesheets %}
            <meta charset="utf-8">
            <meta http-equiv="x-ua-compatible" content="ie=edge">
            <meta name="description" content="">
            <meta
            name="viewport" content="width=device-width, initial-scale=1">
            <!-- favicon
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    		============================================ -->
            <link
            rel="shortcut icon" type="image/x-icon" href="{{ asset('img/favicon.ico') }}">

            <!-- Google Fonts
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    		============================================ -->
            <link
            href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
            <!-- Bootstrap CSS
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    		============================================ -->
            <link
            rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">

            <!-- Bootstrap CSS
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    		============================================ -->
            <link
            rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">

            <!-- owl.carousel CSS
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    		============================================ -->
            <link rel="stylesheet" href="{{ asset('css/owl.carousel.css') }}">
            <link rel="stylesheet" href="{{ asset('css/owl.theme.css') }}">
            <link
            rel="stylesheet" href="{{ asset('css/owl.transitions.css') }}">
            <!-- animate CSS
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    		============================================ -->
            <link
            rel="stylesheet" href="{{ asset('css/animate.css') }}">
            <!-- normalize CSS
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    		============================================ -->
            <link
            rel="stylesheet" href="{{ asset('css/normalize.css') }}">
            <!-- meanmenu icon CSS
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    		============================================ -->
            <link
            rel="stylesheet" href="{{ asset('css/meanmenu.min.css') }}">
            <!-- main CSS
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    		============================================ -->
            <link
            rel="stylesheet" href="{{ asset('css/main.css') }}">
            <!-- educate icon CSS
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    		============================================ -->
            <link
            rel="stylesheet" href="{{ asset('css/educate-custon-icon.css') }}">
            <!-- morrisjs CSS
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    		============================================ -->
            <link
            rel="stylesheet" href="{{ asset('css/morrisjs/morris.css') }}">
            <!-- mCustomScrollbar CSS
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    		============================================ -->
            <link
            rel="stylesheet" href="{{ asset('css/scrollbar/jquery.mCustomScrollbar.min.css') }}">
            <!-- metisMenu CSS
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    		============================================ -->
            <link rel="stylesheet" href="{{ asset('css/metisMenu/metisMenu.min.css') }}">
            <link
            rel="stylesheet" href="{{ asset('css/metisMenu/metisMenu-vertical.css') }}">
            <!-- calendar CSS
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    		============================================ -->
            <link rel="stylesheet" href="{{ asset('css/calendar/fullcalendar.min.css') }}">
            <link
            rel="stylesheet" href="{{ asset('css/calendar/fullcalendar.print.min.css') }}">
            <!-- style CSS
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    		============================================ -->
            <link
            rel="stylesheet" href="{{ asset('style.css') }}">
            <!-- responsive CSS
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    		============================================ -->
            <link rel="stylesheet" href="{{ asset('css/responsive.css') }}">


        {% endblock %}
    </head>
    <body>

        {% block menu %}
            <div class="left-sidebar-pro">
                <nav id="sidebar" class="">
                    <div class="sidebar-header">
                        <a href="{{ path("index") }}"><img class="main-logo" src="{{ asset('img/logo/logo.png') }}" alt=""/></a>
                        <strong>
                            <a href="{{ path("index") }}"><img src="{{ asset('img/logo/logosn.png') }}" alt=""/></a>
                        </strong>
                    </div>
                    <div class="left-custom-menu-adp-wrap comment-scrollbar">
                        <nav class="sidebar-nav left-sidebar-menu-pro">
                            <ul class="metismenu" id="menu1">
                                <li>
                                    <a title="Landing Page" href="{{ path('index') }}" aria-expanded="false">
                                        <span class="educate-icon educate-event icon-wrap sub-icon-mg" aria-hidden="true"></span>
                                        <span class="mini-click-non">HOME</span>
                                    </a>
                                </li>
                                <li class="active">
                                    <a class="has-arrow" href="index.html">
                                        <span class="educate-icon educate-home icon-wrap"></span>
                                        <span class="mini-click-non">Classes</span>
                                    </a>
                                    <ul class="submenu-angle" aria-expanded="true">
                                        <li>
                                            <a title="Dashboard v.1" href="{{ path("classe_index") }}">
                                                <span class="mini-sub-pro">Liste Classes</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="Dashboard v.2" href="{{ path("classe_new") }}">
                                                <span class="mini-sub-pro">Ajouter Classe</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a title="Landing Page" href="{{ path('cycle_new') }}" aria-expanded="false">
                                        <span class="educate-icon educate-event icon-wrap sub-icon-mg" aria-hidden="true"></span>
                                        <span class="mini-click-non">Cycle</span>
                                    </a>
                                </li>
                                <li>
                                    <a title="Landing Page" href="{{ path('niveau_new') }} aria-expanded=" false">
                                        <span class="educate-icon educate-event icon-wrap sub-icon-mg" aria-hidden="true"></span>
                                        <span class="mini-click-non">Niveau</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="has-arrow" href="all-professors.html" aria-expanded="false">
                                        <span class="educate-icon educate-professor icon-wrap"></span>
                                        <span class="mini-click-non">Professors</span>
                                    </a>
                                    <ul class="submenu-angle" aria-expanded="false">
                                        <li>
                                            <a title="All Professors" href="{{ path("prof_index") }}">
                                                <span class="mini-sub-pro">All Professors</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="Add Professor" href="{{ path("prof_new") }}">
                                                <span class="mini-sub-pro">Add Professor</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="Professor Profile" href="professor-profile.html">
                                                <span class="mini-sub-pro">Professor Profile</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="has-arrow" href="all-students.html" aria-expanded="false">
                                        <span class="educate-icon educate-student icon-wrap"></span>
                                        <span class="mini-click-non">Eleves</span>
                                    </a>
                                    <ul class="submenu-angle" aria-expanded="false">
                                        <li>
                                            <a title="All Students" href="{{ path("eleve_index") }}">
                                                <span class="mini-sub-pro">Les Eleves</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="Add Students" href="{{ path("eleve_new") }}">
                                                <span class="mini-sub-pro">Ajouter Eleve</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="Edit Students" href="edit-student.html">
                                                <span class="mini-sub-pro">Edit Student</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="Students Profile" href="student-profile.html">
                                                <span class="mini-sub-pro">Student Profile</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="has-arrow" href="all-courses.html" aria-expanded="false">
                                        <span class="educate-icon educate-course icon-wrap"></span>
                                        <span class="mini-click-non">Enseigne</span>
                                    </a>
                                    <ul class="submenu-angle" aria-expanded="false">
                                        <li>
                                            <a title="All Courses" href="{{ path("enseigne_index") }}">
                                                <span class="mini-sub-pro">All Enseigne</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="Add Courses" href="{{ path("enseigne_new") }}">
                                                <span class="mini-sub-pro">Ajouter Enseigne</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="has-arrow" href="all-courses.html" aria-expanded="false">
                                        <span class="educate-icon educate-library icon-wrap"></span>
                                        <span class="mini-click-non">Parents</span>
                                    </a>
                                    <ul class="submenu-angle" aria-expanded="false">
                                        <li>
                                            <a title="All Library" href="{{ path("parents_index") }}">
                                                <span class="mini-sub-pro">liste Parents</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="Add Library" href="{{ path("parents_new") }}">
                                                <span class="mini-sub-pro">Ajouter parrent</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="Edit Library" href="edit-library-assets.html">
                                                <span class="mini-sub-pro">Les Enfants</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="has-arrow" href="all-courses.html" aria-expanded="false">
                                        <span class="educate-icon educate-department icon-wrap"></span>
                                        <span class="mini-click-non">Matiers</span>
                                    </a>
                                    <ul class="submenu-angle" aria-expanded="false">
                                        <li>
                                            <a title="Departments List" href="{{ path("matiere_index") }}">
                                                <span class="mini-sub-pro">Liste des Matiers</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="Add Departments" href="{{ path("matiere_new") }}">
                                                <span class="mini-sub-pro">Ajouter Matiere</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="has-arrow" href="" aria-expanded="false">
                                        <span class="educate-icon educate-message icon-wrap"></span>
                                        <span class="mini-click-non">Controles</span>
                                    </a>
                                    <ul class="submenu-angle" aria-expanded="false">
                                        <li>
                                            <a title="Inbox" href="{{ path("note_controle_index") }}">
                                                <span class="mini-sub-pro">Les Note Controles</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="View Mail" href="{{ path("controle_index") }}">
                                                <span class="mini-sub-pro">les Controles</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="Compose Mail" href="{{ path("controle_new") }}">
                                                <span class="mini-sub-pro">Ajouter Controle</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="has-arrow" href="" aria-expanded="false">
                                        <span class="educate-icon educate-interface icon-wrap"></span>
                                        <span class="mini-click-non">Examens</span>
                                    </a>
                                    <ul class="submenu-angle interface-mini-nb-dp" aria-expanded="false">
                                        <li>
                                            <a title="Google Map" href="{{ path("examen_index") }}">
                                                <span class="mini-sub-pro">Liste des Examens</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="Pdf Viewer" href="{{ path("note_examen_index") }}">
                                                <span class="mini-sub-pro">Liste des Notes</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="Data Maps" href="{{ path("examen_new") }}">
                                                <span class="mini-sub-pro">Ajouter Examen</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="X-Editable" href="x-editable.html">
                                                <span class="mini-sub-pro">X-Editable</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="Code Editor" href="code-editor.html">
                                                <span class="mini-sub-pro">Code Editor</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="Tree View" href="tree-view.html">
                                                <span class="mini-sub-pro">Tree View</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="Preloader" href="preloader.html">
                                                <span class="mini-sub-pro">Preloader</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="Images Cropper" href="images-cropper.html">
                                                <span class="mini-sub-pro">Images Cropper</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="has-arrow" href="mailbox.html" aria-expanded="false">
                                        <span class="educate-icon educate-charts icon-wrap"></span>
                                        <span class="mini-click-non">Charts</span>
                                    </a>
                                    <ul class="submenu-angle chart-mini-nb-dp" aria-expanded="false">
                                        <li>
                                            <a title="Bar Charts" href="bar-charts.html">
                                                <span class="mini-sub-pro">Bar Charts</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="Line Charts" href="line-charts.html">
                                                <span class="mini-sub-pro">Line Charts</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="Area Charts" href="area-charts.html">
                                                <span class="mini-sub-pro">Area Charts</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="Rounded Charts" href="rounded-chart.html">
                                                <span class="mini-sub-pro">Rounded Charts</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="C3 Charts" href="c3.html">
                                                <span class="mini-sub-pro">C3 Charts</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="Sparkline Charts" href="sparkline.html">
                                                <span class="mini-sub-pro">Sparkline Charts</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="Peity Charts" href="peity.html">
                                                <span class="mini-sub-pro">Peity Charts</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="has-arrow" href="mailbox.html" aria-expanded="false">
                                        <span class="educate-icon educate-data-table icon-wrap"></span>
                                        <span class="mini-click-non">Data Tables</span>
                                    </a>
                                    <ul class="submenu-angle" aria-expanded="false">
                                        <li>
                                            <a title="Peity Charts" href="static-table.html">
                                                <span class="mini-sub-pro">Static Table</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="Data Table" href="data-table.html">
                                                <span class="mini-sub-pro">Data Table</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="has-arrow" href="mailbox.html" aria-expanded="false">
                                        <span class="educate-icon educate-form icon-wrap"></span>
                                        <span class="mini-click-non">Forms Elements</span>
                                    </a>
                                    <ul class="submenu-angle form-mini-nb-dp" aria-expanded="false">
                                        <li>
                                            <a title="Basic Form Elements" href="basic-form-element.html">
                                                <span class="mini-sub-pro">Bc Form Elements</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="Advance Form Elements" href="advance-form-element.html">
                                                <span class="mini-sub-pro">Ad Form Elements</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="Password Meter" href="password-meter.html">
                                                <span class="mini-sub-pro">Password Meter</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="Multi Upload" href="multi-upload.html">
                                                <span class="mini-sub-pro">Multi Upload</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="Text Editor" href="tinymc.html">
                                                <span class="mini-sub-pro">Text Editor</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="Dual List Box" href="dual-list-box.html">
                                                <span class="mini-sub-pro">Dual List Box</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="has-arrow" href="mailbox.html" aria-expanded="false">
                                        <span class="educate-icon educate-apps icon-wrap"></span>
                                        <span class="mini-click-non">App views</span>
                                    </a>
                                    <ul class="submenu-angle app-mini-nb-dp" aria-expanded="false">
                                        <li>
                                            <a title="Notifications" href="notifications.html">
                                                <span class="mini-sub-pro">Notifications</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="Alerts" href="alerts.html">
                                                <span class="mini-sub-pro">Alerts</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="Modals" href="modals.html">
                                                <span class="mini-sub-pro">Modals</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="Buttons" href="buttons.html">
                                                <span class="mini-sub-pro">Buttons</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="Tabs" href="tabs.html">
                                                <span class="mini-sub-pro">Tabs</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="Accordion" href="accordion.html">
                                                <span class="mini-sub-pro">Accordion</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li id="removable">
                                    <a class="has-arrow" href="#" aria-expanded="false">
                                        <span class="educate-icon educate-pages icon-wrap"></span>
                                        <span class="mini-click-non">Pages</span>
                                    </a>
                                    <ul class="submenu-angle page-mini-nb-dp" aria-expanded="false">
                                        <li>
                                            <a title="Login" href="login.html">
                                                <span class="mini-sub-pro">Login</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="Register" href="register.html">
                                                <span class="mini-sub-pro">Register</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="Lock" href="lock.html">
                                                <span class="mini-sub-pro">Lock</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="Password Recovery" href="password-recovery.html">
                                                <span class="mini-sub-pro">Password Recovery</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="404 Page" href="404.html">
                                                <span class="mini-sub-pro">404 Page</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="500 Page" href="500.html">
                                                <span class="mini-sub-pro">500 Page</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </nav>
            </div>
        {% endblock %}

        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('js/vendor/modernizr-2.8.3.min.js') }}"></script>

            <!-- jquery
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    		============================================ -->
            <script src="{{ asset('js/vendor/jquery-1.12.4.min.js') }}"></script>
            <!-- bootstrap JS
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    		============================================ -->
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
            <!-- wow JS
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    		============================================ -->
            <script src="{{ asset('js/wow.min.js') }}"></script>
            <!-- price-slider JS
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    		============================================ -->
            <script src="{{ asset('js/jquery-price-slider.js') }}"></script>
            <!-- meanmenu JS
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    		============================================ -->
            <script src="{{ asset('js/jquery.meanmenu.js') }}"></script>
            <!-- owl.carousel JS
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    		============================================ -->
            <script src="{{ asset('js/owl.carousel.min.js') }}"></script>
            <!-- sticky JS
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    		============================================ -->
            <script src="{{ asset('js/jquery.sticky.js') }}"></script>
            <!-- scrollUp JS
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    		============================================ -->
            <script src="{{ asset('js/jquery.scrollUp.min.js') }}"></script>
            <!-- counterup JS
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    		============================================ -->
            <script src="{{ asset('js/counterup/jquery.counterup.min.js') }}"></script>
            <script src="{{ asset('js/counterup/waypoints.min.js') }}"></script>
            <script src="{{ asset('js/counterup/counterup-active.js') }}"></script>
            <!-- mCustomScrollbar JS
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    		============================================ -->
            <script src="{{ asset('js/scrollbar/jquery.mCustomScrollbar.concat.min.js') }}"></script>
            <script src="{{ asset('js/scrollbar/mCustomScrollbar-active.js') }}"></script>
            <!-- metisMenu JS
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    		============================================ -->
            <script src="{{ asset('js/metisMenu/metisMenu.min.js') }}"></script>
            <script src="{{ asset('js/metisMenu/metisMenu-active.js') }}"></script>
            <!-- morrisjs JS
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    		============================================ -->
            <script src="{{ asset('js/morrisjs/raphael-min.js') }}"></script>
            <script src="{{ asset('js/morrisjs/morris.js') }}"></script>
            <script src="{{ asset('js/morrisjs/morris-active.js') }}"></script>
            <!-- morrisjs JS
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    		============================================ -->
            <script src="{{ asset('js/sparkline/jquery.sparkline.min.js') }}"></script>
            <script src="{{ asset('js/sparkline/jquery.charts-sparkline.js') }}"></script>
            <script src="{{ asset('js/sparkline/sparkline-active.js') }}"></script>
            <!-- calendar JS
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    		============================================ -->
            <script src="{{ asset('js/calendar/moment.min.js') }}"></script>
            <script src="{{ asset('js/calendar/fullcalendar.min.js') }}"></script>
            <script src="{{ asset('js/calendar/fullcalendar-active.js') }}"></script>
            <!-- plugins JS
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    		============================================ -->
            <script src="{{ asset('js/plugins.js') }}"></script>
            <!-- main JS
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    		============================================ -->
            <script src="{{ asset('js/main.js') }}"></script>
            <!-- tawk chat JS
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    		============================================ -->
            <script src="js/tawk-chat.js') }}"></script>
        {% endblock %}
    </body>
</html>
